@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght=100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(255, 214, 249), rgb(251, 211, 245));
}

button {
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 1.2rem; 
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  appearance: none;
  background-color: rgb(246, 244, 215);
  color: black;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 10px 10px 5px rgba(198, 196, 196, 0.952);
}

input {
  width: 90%; 
  max-width: 320px;
  padding: 24px;
  margin: 10px;
  font-size: 1.5rem; 
  text-align: right;
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  appearance: none;
  background-color: rgb(246, 244, 215);
  color: rgb(49, 48, 48);
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 10px 10px 5px rgba(198, 196, 196, 0.952);
}

.calculator {
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
  appearance: none;
  background-color: rgb(246, 244, 215);
  color: black;
  border-radius: 55px;
  box-shadow: 10px 10px 5px rgba(198, 196, 196, 0.952);
}

.eqlbutton {
  background-color: rgb(238, 167, 167);
  box-shadow: 10px 10px 5px rgba(198, 196, 196, 0.952);
}

.operator {
  background-color: rgb(247, 213, 213);
}

@media (max-width: 480px) {
  button {
    width: 50px; 
    height: 50px;
    font-size: 1rem; 
  }
  input {
    font-size: 1.2rem;
  }
}